* {
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
}

.field {
  background: #DDD;
  border: none;
  border-bottom: 2px dotted #000;
  display: inline-block;
  min-width: 50px;
  font-size: 24px;
}

.error {
  color: red;
}
