* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 30px 30px 0;
}

.incident-list {
  margin: 20px;
  padding: 0;
  clear: both;
  list-style-type: none;
}

.incident-list li {
  float: left;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  min-width: 300px;
  min-height: 200px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new:hover {
  cursor: pointer;
  background: #EEE;
}

.add-new div {
  text-transform: uppercase;
  font-size: 22px;
}

.add-new span {
  font-weight: bold;
  font-size: 30px;
  line-height: 22px;
}

.minor {
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  margin-bottom: 6px;
}

.days {
  font-size: 26px;
  margin-bottom: 8px;
}

.description {
  font-size: 18px;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.field {
  background: #DDD;
  border: none;
  border-bottom: 2px dotted #000;
  display: inline-block;
  min-width: 50px;
  font-size: 24px;
  min-height: 26px;
}

.error {
  color: red;
}
